{{ header }}
<div id="common-home" class="container-fluid container-lg">
    {{ content_top }}
    
    {% if recommended %}
        <div class="row mt-3 mt-md-0 p-3 p-md-0 pt-xl-3 g-2 g-md-3 sc-module">
            <div class="sc-module-header fsz-22 dark-text fw-700 text-center text-md-start mt-0 mt-md-2 mb-2">Рекомендуємо</div>
            
                {% for product in recommended %}
                <div class="sc-module-item sc-module-col">
                    <div class="content-block h-100 d-flex flex-column">
                        <div class="sc-module-img position-relative">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                            </a>
                            <div class="sc-module-btns d-flex flex-column position-absolute">
                                <button type="button" aria-label="Wishlist" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
                                </button>
                                <button type="button" aria-label="Compare" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-compare-btn" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-compare"></span>
                                </button>
                            </div>
                        </div>
                        <div class="sc-module-caption d-flex flex-column justify-content-between py-md-2 h-100">
                            <div class="sc-module-info">
                                <a href="{{ product.href }}" class="sc-module-title dark-text fw-700">{{ product.name }}</a>
                                {% if product.rating is not same as(false) %}
                                    <div class="sc-module-rating d-flex align-items-center mt-2 mb-1 br-4">
                                        <div class="sc-module-rating-stars d-flex align-items-center">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %}
                                                    <span class="sc-module-rating-star"></span>
                                                {% else %}
                                                    <span class="sc-module-rating-star sc-module-rating-star-is"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.price %}
                            <div class="sc-module-price-box py-2 mt-auto">
                                {% if product.tax %}
                                    <div class="price-tax fw-300 fsz-12 light-text">
                                        {{ text_tax }} {{ product.tax }}
                                    </div>
                                {% endif %}
                                {% if not product.special %}
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.price }}</span>
                                {% else %}
                                    <span class="sc-module-price-old light-text fsz-14">{{ product.price }}</span>
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.special }}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if recommended|length > 10 %}
                    <a style="display: inline-block; width: 100%; padding: 18px 0px; text-align: center; font-size: 14px; line-height: 16px; font-weight: 300; border: 1px solid #E6E8EE; border-radius: 4px; margin-top: 20px" href="{{recommended_link}}">
                        Дивитися все
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.5L5 5L1 0.5" stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                {% endif %}
        </div>
    {% endif %}
    {% if novelty %}
        <div class="row mt-3 mt-md-0 p-3 p-md-0 pt-xl-3 g-2 g-md-3 sc-module">
            <div class="sc-module-header fsz-22 dark-text fw-700 text-center text-md-start mt-0 mt-md-2 mb-2">Новинки</div>
            
                {% for product in novelty %}
                <div class="sc-module-item sc-module-col">
                    <div class="content-block h-100 d-flex flex-column">
                        <div class="sc-module-img position-relative">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                            </a>
                            <div class="sc-module-btns d-flex flex-column position-absolute">
                                <button type="button" aria-label="Wishlist" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
                                </button>
                                <button type="button" aria-label="Compare" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-compare-btn" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-compare"></span>
                                </button>
                            </div>
                        </div>
                        <div class="sc-module-caption d-flex flex-column justify-content-between py-md-2 h-100">
                            <div class="sc-module-info">
                                <a href="{{ product.href }}" class="sc-module-title dark-text fw-700">{{ product.name }}</a>
                                {% if product.rating is not same as(false) %}
                                    <div class="sc-module-rating d-flex align-items-center mt-2 mb-1 br-4">
                                        <div class="sc-module-rating-stars d-flex align-items-center">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %}
                                                    <span class="sc-module-rating-star"></span>
                                                {% else %}
                                                    <span class="sc-module-rating-star sc-module-rating-star-is"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.price %}
                            <div class="sc-module-price-box py-2 mt-auto">
                                {% if product.tax %}
                                    <div class="price-tax fw-300 fsz-12 light-text">
                                        {{ text_tax }} {{ product.tax }}
                                    </div>
                                {% endif %}
                                {% if not product.special %}
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.price }}</span>
                                {% else %}
                                    <span class="sc-module-price-old light-text fsz-14">{{ product.price }}</span>
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.special }}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if novelty|length > 10 %}
                    <a style="display: inline-block; width: 100%; padding: 18px 0px; text-align: center; font-size: 14px; line-height: 16px; font-weight: 300; border: 1px solid #E6E8EE; border-radius: 4px; margin-top: 20px" href="{{novelty_link}}">
                        Дивитися все
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.5L5 5L1 0.5" stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                {% endif %}
        </div>
    {% endif %}
    {% if discounts %}
        <div class="row mt-3 mt-md-0 p-3 p-md-0 pt-xl-3 g-2 g-md-3 sc-module">
            <div class="sc-module-header fsz-22 dark-text fw-700 text-center text-md-start mt-0 mt-md-2 mb-2">Акції</div>
            
                {% for product in discounts %}
                <div class="sc-module-item sc-module-col">
                    <div class="content-block h-100 d-flex flex-column">
                        <div class="sc-module-img position-relative">
                            <a href="{{ product.href }}">
                                <img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid" />
                            </a>
                            <div class="sc-module-btns d-flex flex-column position-absolute">
                                <button type="button" aria-label="Wishlist" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-wishlist-btn" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-wishlist"></span>
                                </button>
                                <button type="button" aria-label="Compare" class="sc-btn sc-btn-outline sc-btn-outline-secondary sc-btn-with-icon br-4 sc-compare-btn" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');">
                                    <span class="sc-btn-icon sc-btn-icon-compare"></span>
                                </button>
                            </div>
                        </div>
                        <div class="sc-module-caption d-flex flex-column justify-content-between py-md-2 h-100">
                            <div class="sc-module-info">
                                <a href="{{ product.href }}" class="sc-module-title dark-text fw-700">{{ product.name }}</a>
                                {% if product.rating is not same as(false) %}
                                    <div class="sc-module-rating d-flex align-items-center mt-2 mb-1 br-4">
                                        <div class="sc-module-rating-stars d-flex align-items-center">
                                            {% for i in 1..5 %}
                                                {% if product.rating < i %}
                                                    <span class="sc-module-rating-star"></span>
                                                {% else %}
                                                    <span class="sc-module-rating-star sc-module-rating-star-is"></span>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if product.price %}
                            <div class="sc-module-price-box py-2 mt-auto">
                                {% if product.tax %}
                                    <div class="price-tax fw-300 fsz-12 light-text">
                                        {{ text_tax }} {{ product.tax }}
                                    </div>
                                {% endif %}
                                {% if not product.special %}
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.price }}</span>
                                {% else %}
                                    <span class="sc-module-price-old light-text fsz-14">{{ product.price }}</span>
                                    <span class="sc-module-price fw-800 dark-text mt-1">{{ product.special }}</span>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if discounts|length > 10 %}
                    <a style="display: inline-block; width: 100%; padding: 18px 0px; text-align: center; font-size: 14px; line-height: 16px; font-weight: 300; border: 1px solid #E6E8EE; border-radius: 4px; margin-top: 20px" href="{{discounts_link}}">
                        Дивитися все
                        <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 9.5L5 5L1 0.5" stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </a>
                {% endif %}
        </div>
    {% endif %}
    {{ content_bottom }}
</div>
{{ footer }}